.primary {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
}
.secondary {
  background: linear-gradient(-45deg, #e152ee, #7e3ce7, #4ddbff, #3e59f3);
	animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
}
.white {
  background: linear-gradient(-45deg, #ffffff, #f0f0f0, #dbdbdb, #d1d1d1);
	animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
}
.dark {
  background: linear-gradient(-45deg, #3f3f3f, #4d4d4d, #464646, #313131);
	animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
}
.blue {
  background: linear-gradient(-45deg, #8cfdea, #0089fa, #4da3e9, #494cfc);
	animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
}
.orange {
  background: linear-gradient(-45deg, #fdc88c, #fa8500, #fda838, #fc9a49);
	animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
}
.green {
  background: linear-gradient(-45deg, #b0fd8c, #7bff76, #64ff3e, #30fc52);
	animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
}
.purple {
  background: linear-gradient(-45deg, #d38cfd, #cd76ff, #d83eff, #b130fc);
	animation: gradient 15s ease infinite;
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}